<!-- <p>forgot-password works!</p> -->
<div class="ForgorPage">

    <div class="Toolbar">
        <mat-toolbar>
            <img src="../../../assets/education.svg">
            <span style="color: white;padding-left: 20px;font: Roboto, Regular;">Bookstore</span>
        </mat-toolbar>
    </div>
    <div class="headerName">
        <h2>Forgot Your Password</h2>
    </div>

    <form [formGroup]="forgotpasswordform"  #myForm="ngForm" (ngSubmit)="OnSubmit()">
        <div class="textformat">
            Enter your email address and we'll send you a link to reset your password.
        </div>

        <div class="EmailBox">
            <mat-label>Email Id</mat-label>
            <div>
                <mat-form-field appearance="outline" class="designEmail">
                    <input matInput type="email" placeholder="email" formControlName="email" style="font-size: 20px;font: normal normal normal 15px/20px Roboto;">
                    <mat-error>Enter valid Email id</mat-error>
                </mat-form-field>
            </div>

        </div>

        <div>
            <button mat-button class="buttonStyleforNext">Next</button>
        </div>

        <div>
            <button mat-flat-button class="button">Create Account</button>
        </div>


    </form>
</div>