<!-- <p>resetpassword works!</p> -->
<div class="ForgorPage">

    <div class="Toolbar">
        <mat-toolbar>
            <img src="../../../assets/education.svg">
            <span style="color: white;padding-left: 20px;font: Roboto, Regular;">Bookstore</span>
        </mat-toolbar>
    </div>
    <div class="headerName">
        <h2>Reset Password</h2>
    </div>
    <form #myForm="ngForm" [formGroup]="resetPassword" (ngSubmit)="OnSubmit()">
        <div fxLayout="column" fxLayoutAlign="stretch">
            <mat-label style="padding-left: 200px;">Password</mat-label>
            <mat-form-field class="designEmailreset" appearance="outline">

                <input matInput placeholder="Password" formControlName="password">
                <mat-error>Enter valid Password</mat-error>
            </mat-form-field>

            <mat-label style="padding-left: 200px;">Confirm Password</mat-label>
            <mat-form-field class="designEmailreset" appearance="outline">

                <input matInput placeholder="Confirm password" formControlName="confirmpassword">
                <mat-error>Password not match</mat-error>
            </mat-form-field>
        </div>
        <button mat-button class="buttonStyleforNext">Next</button>
    </form>
</div>